.App {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
}

.display {
  color: white;
  background-color: #848693;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 100px;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 20px;
  border: none;
}

.button-panel {
  display: flex;
  flex-direction: column;
}

.row {
  height: 100px;
}

.button {
  height: 100%;
  color: #000;
  border: 1px solid #c4c4c4;
  background-color: orange;
  font-weight: bold;
}
