.board{
  margin-top: 3%;
  margin-left: 30%;
  margin-right: 30%;
}

.display{
  border: 1px solid grey;
  height: 100px;
}

.button-panel{
  width: 400px;
  height: 600px;
}

.row{
  display: flex;
  width: 100%;
}

.button{
  display: flex;
  height: 5em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  background-color: #e0e1e6;
  color:#888;
  outline: 1px solid #888;
}

.btn{
  border-radius: 0 !important;
}

.operator{
  background: orange !important;
  color: white !important;
}
